extends ../../layouts/default.pug 
include ../../mixins/product-layout.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        + box-head("Danh sach san pham")

    .row 
        +product-grid(products)
        
