doctype html
html
  head
    title My Website
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Website
      nav
        ul
          li: a(href='/') Home
          li: a(href='/about') About
    block content
    footer
      p © 2024 My Website
