head
    link(rel="stylesheet", href="/css/404.css")

.text
  div ERROR
  h1 404
  hr
  div Page Not Found
.astronaut
  img.src(src='https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png' alt='')

button(class="homeback") Trở về

script(src="/js/404.js") 

    